<form [formGroup]="addapartement" (ngSubmit)="onAdd()">
    <div>
      <label>Apartment Number:</label>
      <input formControlName="apartNum" type="text" />
      <small *ngIf="addapartement.get('apartNum')?.invalid &&addapartement.get('apartNum')?.touched">
        Apartment Number is required and must be a number.
      </small>
    </div>
    <div>
      <label>Floor Number:</label>
      <input formControlName="floorNum" type="text" />
      <small *ngIf="addapartement.get('floorNum')?.invalid && addapartement.get('floorNum')?.touched">
        Floor Number is required and must be a number.
      </small>
    </div>
    <div>
      <label>Surface:</label>
      <input formControlName="surface" type="text" />
      <small *ngIf="addapartement.get('surface')?.invalid && addapartement.get('surface')?.touched">
        Surface is required.
      </small>
    </div>
    <div>
      <label>Terrace:</label>
      <input formControlName="terrace" type="checkbox" />
    </div>
    <div>
      <label>Surface Terrace:</label>
      <input formControlName="surfaceterrace" type="text" />
      <small *ngIf="addapartement.get('surfaceterrace')?.invalid && addapartement.get('surfaceterrace')?.touched">
        Surface Terrace is required if Terrace is selected.
      </small>
    </div>
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Category:</label>
      <div class="col-sm-9">
        <div class="form-check">
          <input type="radio" id="categoryS1" value="S+1" formControlName="category" class="form-check-input" />
          <label for="categoryS1" class="form-check-label">S+1</label>
        </div>
        <div class="form-check">
          <input type="radio" id="categoryS2" value="S+2" formControlName="category" class="form-check-input" />
          <label for="categoryS2" class="form-check-label">S+2</label>
        </div>
        <div class="form-check">
          <input type="radio" id="categoryS3" value="S+3" formControlName="category" class="form-check-input" />
          <label for="categoryS3" class="form-check-label">S+3</label>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="residence" class="form-label">Residence:</label>
      <select id="residence" class="form-select" formControlName="residence">
        <option *ngFor="let residence of residences" [value]="residence.id">
          {{ residence.name }}
        </option>
      </select>
      <div *ngIf="addapartement.get('residence')?.invalid && addapartement.get('residence')?.touched" class="text-danger">
        <small>Residence is required.</small>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-primary me-2" [disabled]="addapartement.invalid">Add</button>
        <button type="button" class="btn btn-secondary">Reset</button>
      </div>
    </div>
  </form>

  
  